name: Build, publish and deploy project to Simply

on: [push]

jobs:
  build_and_deploy:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4.0.0
        with:
          dotnet-version: 8.0
          
      - name: Install dependencies
        run: dotnet restore
        
      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        run: dotnet publish
        
      - name: Test with .NET
        run: dotnet test

      - name: Deploy to Simply        
        uses: talunzhang/SmarterASP.NET-web-deploy@v1.0.1
        with:
          website-name: joysmarter2staff-001-site11
          server-computer-name: https://win5182.site4now.net:8172
          server-username: joysmarter2staff-001
          server-password: P@ssword123!
          source-path: '\artifacts\publish\TimeProvider\release\'
